/* 
font class 

heading - Raleway 800 500 700 600
paragraph - inter 400 700 500 600
*/
.raleway-500 {
  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
}
.raleway-600 {
  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal;
}

.raleway-700 {
  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
}
.raleway-800,
h1,
h2 {
  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 800 !important;
  font-style: normal;
}
.inter-400,
p {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-500 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-600 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 600 !important;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-700 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.inter-900 {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 900 !important;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.seat {
  border-radius: 12px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(247, 248, 248);
  text-align: center;
  color: rgba(3, 7, 18, 0.5);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  min-width: 110px;
  cursor: pointer;
}
.seat-text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  text-align: center;
  color: rgba(3, 7, 18, 0.5);
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  line-height: 22px;
  letter-spacing: 0px;
}
